<div class="main">
      <div class="created_emp_details">
       <h5>Employee Details</h5>
       <div class="mat-elevation">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="employeecount">
            <th style="width:10%;" mat-header-cell *matHeaderCellDef>Sl no</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</td>
          </ng-container>
  
          <ng-container matColumnDef="firstName">
            <th  mat-header-cell *matHeaderCellDef> First Name </th>
            <td style="padding-right:8px;"  mat-cell *matCellDef="let element">{{element.firstName}} </td>
          </ng-container>
  
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td style="padding-right:10px;" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th    mat-header-cell *matHeaderCellDef> Email </th>
            <td  mat-cell *matCellDef="let element">{{element.email}}</td>
          </ng-container>
  
           <ng-container matColumnDef="age">
            <th    mat-header-cell *matHeaderCellDef> Age </th>
            <td  mat-cell *matCellDef="let element">{{element.age}}</td>
          </ng-container>
  
           <ng-container matColumnDef="gender">
            <th    mat-header-cell *matHeaderCellDef> Gender </th>
            <td  mat-cell *matCellDef="let element">{{element.gender}}</td>
          </ng-container>
  
           <ng-container matColumnDef="dateofBirth">
            <th    mat-header-cell *matHeaderCellDef> Date of Birth </th>
            <td  mat-cell *matCellDef="let element">{{element.dateofBirth}}</td>
          </ng-container>
  
          <ng-container matColumnDef="columndelete">
            <th  mat-header-cell *matHeaderCellDef> Edit/Delete  </th>
            <td  mat-cell *matCellDef="let element">       
              <mat-icon (click)="deleteEmployee(element)" style="cursor: pointer;"><span class="material-icons">
                delete_outline
                </span></mat-icon>
                <mat-icon (click)="editEmployee(element)" style="cursor: pointer;"><span class="material-icons">
                  edit
                  </span></mat-icon>
               </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-error class="tablerr" *ngIf="dataSource.filteredData.length === 0">No data available</mat-error>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div> 
    <button mat-raised-button color="primary" (click)="locationBack()">Back</button>
  </div>